@import 'materialize';

body {
  min-width: 670px;
}

.alert {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

#boxstyle {
  background-color: lightblue;
}

#top-nav {
  background-image: url('banner.jpg');
  background-repeat: no-repeat;
}

.logo-text {
  padding-left: 25px;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.admin-tabs:hover {
  background: linear-gradient(#bbb, #888) !important;
}

.ul.dropdown-content.select-dropdown.active li span  {
  color: #1565C0 !important;
}

.little-bee {
  background-image: url('littlebee.png');
  width: 84px;
  height: 40px;
  display: inline-block;
}

.marisa-pic {
  background-image: url('marisa.jpg');
  background-size: cover;
  width: 200px;
  height: 200px;
  display: inline-block;
  border: 2px solid black;
}

.cael-pic {
  background-image: url('CaelJensen2b.jpg');
  background-size: cover;
  width: 200px;
  height: 200px;
  display: inline-block;
  border: 2px solid black;
}
.josh-pic {
  background-image: url('josh.jpg');
  background-size: cover;
  width: 200px;
  height: 200px;
  display: inline-block;
  border: 2px solid black;
}
.ali-pic {
  background-image: url('ali.jpg');
  background-size: cover;
  width: 200px;
  height: 200px;
  display: inline-block;
  border: 2px solid black;
}
