@import 'materialize';

body {
  background-color: #fff;
  // font-family: 'Arimo', sans-serif;
  // font-family: 'Poppins', sans-serif;
  // font-family: 'Oxygen', sans-serif;
  // font-family: 'Questrial', sans-serif;
  // font-family: 'Heebo', sans-serif;
  // font-family: 'Prompt', sans-serif;
  // font-family: 'Biryani', sans-serif;
}

.alert {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

#boxstyle {
  background-color: lightblue;
}

#top-nav {
  background-image: url('banner.jpg');
  background-repeat: no-repeat;
}

.logo-text {
  padding-left: 25px;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.admin-tabs:hover {
  // background: linear-gradient(#C6CFD5, #56606F) !important;
  background: linear-gradient(#1257a6, #1565C0)!important;
  color: #0d3c73 !important;
  text-shadow: 0 0 10px rgba(255,255,255,0.5), 0 1px #8cb7e8 !important;
}

.ul.dropdown-content.select-dropdown.active li span  {
  color: #1565C0 !important;
}

.little-bee {
  background-image: url('littlebee.png');
  width: 84px;
  height: 40px;
  display: inline-block;
}

#frontpage {
  width: 100%;
  max-width: 667px;
  height: auto;
  margin: 25px auto 50px;
}

#frontpage h1 {
  font-size: 80px;
}

.marisa-pic {
  background-image: url('marisa.jpg');
}

.cael-pic {
  background-image: url('cael.jpg');
}
.josh-pic {
  background-image: url('josh.jpg');
}
.ali-pic {
  background-image: url('ali.jpg');
}

.react-pic {
  background-image: url('react.png');
  background-size: cover;
  width: 200px;
  height: 200px;
  display: inline-block;
}
.rails-pic {
  background-image: url('rubyrails.png');
  background-size: cover;
  width: 230px;
  height: 200px;
  display: inline-block;
}
.redux-pic {
  background-image: url('reduxnew.png');
  background-size: cover;
  width: 220px;
  height: 200px;
  display: inline-block;
}
.html-pic {
  background-image: url('html.png');
  background-size: cover;
  width: 200px;
  height: 200px;
  display: inline-block;
}

.css3-pic {
  background-image: url('css3.png');
  background-size: cover;
  width: 200px;
  height: 200px;
  display: inline-block;
}
.jquery-pic {
  background-image: url('jquery.gif');
  background-size: cover;
  width: 200px;
  height: 200px;
  display: inline-block;
}
.material-pic {
  background-image: url('materializecss.png');
  background-size: cover;
  margin-top: -30px;
  width: 220px;
  height: 220px;
  display: inline-block;
}
.devise-pic {
  background-image: url('devise.png');
  background-size: cover;
  margin-left: -30px;
  padding: none;
  width: 280px;
  height: 200px;
  display: inline-block;
}
.ajax-pic {
  background-image: url('ajax.png');
  background-size: cover;
  padding: none;
  width: 280px;
  height: 200px;
  display: inline-block;
}

.individual {
  height: 440px;
}

.about-whole {
  background-color: white !important;
  padding: 30px;
  margin-top: 15px;
  // border-radius: 20px;
}

.main-about {
  background-color: #1565C0 !important;
  color: white;
  padding: 15px;
  // border-radius: 20px;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.li-pic {
  background-image: url('li.png');
  background-size: cover;
  height: 30px;
  width: 30px;
  padding: 5px;
}
.github-pic {
  background-image: url('githubnew.png');
  background-size: cover;
  height: 30px;
  width: 30px;
  padding: 5px;
}

.emp-btn {
  margin: 5px;
}

input:focus {
  border-bottom: 1px solid #1565C0 !important;
  -webkit-box-shadow: 0 1px 0 0 #01579b !important;
  -moz-box-shadow: 0 1px 0 0 #01579b !important;
  box-shadow: 0 1px 0 0 #01579b !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #1565C0 !important;
}

input:focus + label {
   color: #1565C0 !important;
}
