@import 'materialize';

body {
  background-image: url('honeycombBG.jpg');
  background-repeat: repeat;
  background-color: #aaa;
  font-family: 'Questrial', sans-serif;
}

.set-password {
  background-color: #E9E9E9;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  padding: 5px 5px 35px 5px;
  margin-top: 75px;
  padding-bottom: 25px;
  background-image: url("http://res.cloudinary.com/dupyswzaa7/image/upload/v1483750352/beeAccent_l5fh3h.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.password-button {
  height: 30px;
  padding: 0 10px;
  margin: 5px 5px 25px;
  border-radius: 5px;
  border: 1px solid #666;
  background: linear-gradient(#1c86ff, #1257a6);
  box-shadow: inset 0 1px 0px  #fff, 0 0 5px rgba(0,0,0,0.25);
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.5), 0 1px #8cb7e8;

}

.button-container {
  margin: 0 auto;
}

.alert {
  padding: 5px;
  border: 1px solid transparent;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.edit-icon:hover {
  color: #dfb000 !important;
  opacity: 1 !important;
}

.delete-icon:hover {
  color: #990000 !important;
  opacity: 1 !important;
}

.confirm-icon:hover {
  color: #00dd00 !important;
  opacity: 1 !important;
}

#boxstyle {
  background-color: lightblue;
}

#top-nav {
  background-image: url('banner.jpg');
  background-repeat: no-repeat;
}

.logo-text {
  padding-left: 25px;
  text-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.admin-tabs:hover {
  // background: linear-gradient(#C6CFD5, #56606F) !important;
  background: linear-gradient(#2267b6, #2575d0)!important;
  color: #0d3c73 !important;
  text-shadow: 0 0 10px rgba(255,255,255,0.5), 0 1px #8cb7e8 !important;
}

.ul.dropdown-content.select-dropdown.active li span  {
  color: #1565C0 !important;
}

.little-bee {
  background-image: url('littlebee.png');
  width: 84px;
  height: 40px;
  display: inline-block;
}

#frontpage {
  width: 100%;
  max-width: 667px;
  height: auto;
  margin: 25px auto 50px;
}

#frontpage h1 {
  font-size: 80px;
}

.marisa-pic {
  background-image: url('marisa.jpg');
}

.cael-pic {
  background-image: url('cael.jpg');
}
.josh-pic {
  background-image: url('josh.jpg');
}
.ali-pic {
  background-image: url('ali.jpg');
}

.react-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483985554/reactjs_sregjo.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
.rails-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483985555/rubyonrails_uvny5t.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
.redux-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483985555/redux_shkjcm.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
.html-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483985554/html5_pbf3dl.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.css3-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483985554/css3_aybtrc.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
.jquery-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483985555/jquery_ic4v9n.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.js-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483985554/javascript_mez6uk.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.cloudinary-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483985554/cloudinary_xqjx2t.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.rrouter-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483985555/reactrouter_mjkbdr.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
.githubbig-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483986454/github_q9spi4.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
.material-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483986454/materialize_tsarsu.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
.devise-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483986454/devise_duyehd.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
.ajax-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483985554/ajax_dfyqtn.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
.webpack-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483986454/webpack_n5ne0s.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
.postgresql-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483986454/postgresql_sh7j25.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
.heroku-pic {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483986454/heroku_mlxmwu.jpg');
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.li-pic {
  background-image: url('li.png');
  background-size: cover;
  height: 30px;
  width: 30px;
}
.github-pic {
  background-image: url('githubnew.png');
  background-size: cover;
  height: 30px;
  width: 30px;
}

.emp-btn {
  margin: 5px;
}

input:focus {
  border-bottom: 1px solid #1565C0 !important;
  -webkit-box-shadow: 0 1px 0 0 #01579b !important;
  -moz-box-shadow: 0 1px 0 0 #01579b !important;
  box-shadow: 0 1px 0 0 #01579b !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #1565C0 !important;
}

input:focus + label {
   color: #1565C0 !important;
}

.tabs {
  background-color: transparent !important;
}

.collection a.collection-item {
  color: #1565C0 !important;
}

.about-banner {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483914423/calendarBanner_f27sxs.jpg');
  background-position: center center;
  width: 100%;
  height: 250px;
  box-shadow: 0 0 30px rgba(0,0,0,.75);
}

.team-photo-large {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483919486/GroupFixed_ue83pr.jpg');
  background-position: top center;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,1);
  margin-top: 25px;
}
.team-photo-med {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483919486/GroupFixed_ue83pr.jpg');
  background-position: top center;
  height: 225px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,1);
  margin-top: 25px;
}
.team-photo-small {
  background-image: url('http://res.cloudinary.com/dupyswzaa7/image/upload/v1483919486/GroupFixed_ue83pr.jpg');
  background-position: top center;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,1);
  margin-top: 25px;
}
